.git
.gitignore
.venv
__pycache__
**/__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
tests
samples
scripts
*.md
.env
.env.*
.DS_Store
docker-compose.yml
docker-compose.prod.yml
Dockerfile
